@using Ematig_Portal.Models;
@using Microsoft.AspNet.Identity;

@model MessageViewModel
@using GridMvc.Html

@{
    ViewBag.Title = "Mensagens";
}

<section class="section-intro section-login">
    <div class="container container_padding box_size1">

        <div class="row">
            @Html.Grid(Model.MessageList).Columns(columns =>
                    {
                        columns.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(10)
                                .RenderValueAs(c => 
                                    @<b>
                                         <a href="@Url.Action("Edit", "Message", new { id = c.Id })" class="modal-link"><span aria-hidden="true" class="fa fa-search"></span></a>
                                     </b>
                                );
                        columns.Add(c => c.Subject).Titled("Assunto").Sortable(true);
                        columns.Add(c => c.CreationDate).Titled("Data");
                        columns.Add(c => c.SentDate).Titled("Enviada");
                    }).WithPaging(20)
        </div>
        
        <div class="row btn-toolbar">
            @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-info-inv pull-right" })
        </div>
    </div>
</section>


<div class='modal hide fade in'>
    <div class="modal-lg modal-content"></div>
</div>