@using Ematig_Portal.Models;
@using Microsoft.AspNet.Identity;

@model IEnumerable<ManageUserViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Utilizadores";
}

<section class="section-intro section-login">
    <div class="container container_padding box_size1">

        <div class="row">
            @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(10)
                                .RenderValueAs(c => @<b><a href="@Url.Action("Manage", "Account", new { id = c.Id })"><span aria-hidden="true" class="fa fa-pencil-square-o"></span></a></b>);
                        columns.Add(c => c.Id).Titled("ID").Sortable(true);
                        columns.Add(c => c.LastName)
                            .Titled("Nome")
                            .RenderValueAs(c => c.FirstName + " " + c.LastName).Filterable(true).Sortable(true).SetFilterWidgetType("NameFilterWidget");
                        columns.Add(c => c.Email).Titled("Email").Sortable(true);
                        columns.Add(c => c.PhoneNumber).Titled("Telefone");
                        columns.Add(c => c.MobilePhoneNumber).Titled("Telemóvel");
                    }).WithPaging(20)
        </div>


        <div class="row btn-toolbar">
            @Html.ActionLink("Novo utilizador", "Register", "Account", null, new { @class = "btn btn-info pull-right" })
            @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-info-inv pull-right" })
        </div>
    </div>
</section>