@{
    ViewBag.Title = "Sobre nós";
    ViewBag.Description = "";
}

<header class="page-header">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="section-intro">
    <div class="container container_padding">
        <div class="row">
            <p>A EMATIG, LDA é uma empresa de direito angolano, criada à 28 de Julho de 1992, com sede em Luanda.</p>
            <br />
            <p>O nosso objecto social é o comércio e prestação de assistência técnica aos equipamentos de escritório, nomeadamente: computadores, fotocopiadoras, centrais telefónicas, telefones, máquinas de calcular, máquinas de escrever, telefax, impressoras, consumíveis de natureza diversa, mobiliário de escritório, mobiliário informático, execução de material publicitário e artes gráficas.</p>
            <br />
            <p>Paralelamente a esta actividade e em parceria com um grupo de conceituadas Empresas Portuguesas, também dispomos de materiais didácticos e laboratórios escolares.</p>
        </div>
    </div>
    <!-- /.container -->
</section>

<!-- SEP -->
<div class="page-sep arrow blue">
    <div class="container container_padding">
        <div class="row">
            <h4>O nosso foco</h4>
        </div>
    </div>
</div>

<section class="section-intro height1 box3">
    <div class="container container_padding">
        <div class="row container_padding">
            <article class="col-md-4" role="article">
                <header>
                    <h2>Apoio Técnico</h2>
                </header>
                <p>A área onde a empresa dedica a sua maior atenção é no apoio técnico. A assistência técnica é assegurada por técnicos especializados, que regularmente beneficiam de estágios de actualização no exterior do país.</p>
            </article>
            <article class="col-md-4" role="article">
                <header>
                    <h2>O que fazemos</h2>
                </header>
                <p>No fim do dia não nos restam dúvidas, simplificamos a tua vida. Damos-te a liberdade e facilidade que procuras.</p>
            </article>
            <article class="col-md-4" role="article">
                <header>
                    <h2>E Porquê</h2>
                </header>
                <p>Porque admiramos os objetivos dos nossos clientes e queremos ajudá-los a simplificar e a ir mais além.</p>
            </article>
        </div>
    </div>
    <!-- /.container -->
</section>