@{
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
    ViewBag.Title = "Início";
}


<div class="intro-header img1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h2>A escolha acertada para o seu negócio</h2>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="@Url.RouteUrl(HomeControllerRoute.GetSolutions)" class="btn btn-default btn-lg"><span class="network-name">Saber mais</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<section class="section-intro height1">
    <div class="container container_padding box_size1">
        <div class="row">
            <div class="col-lg-12">
                <p class="lead section-lead">O nosso sucesso tem sido baseado na nossa capacidade técnica, honestidade e perseverança no sentido de servir sempre melhor todos aqueles que recorrem aos nossos serviços.</p>
            </div>
        </div>
    </div>
</section>

<section class="section-intro intro-parallax1 bg-2">
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <h1>Garantimos os melhores equipamentos para o seu negócio</h1>
        <p><a href="@Url.RouteUrl(HomeControllerRoute.GetSolutions)" class="btn btn-info btn-lg"><span class="network-name">Saber mais</span></a></p>
    </div>
</section>

<section class="section-intro">
        <div class="container container_padding">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Apoio técnico</h2>
                    <p class="lead">Falamos o teu idioma e contamos com os melhores especialistas para te ajudar.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6 box_radius1">
                    <img class="img-responsive" src="../Content/img/img03.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
</section>

<section class="section-intro intro-parallax1 bg-3">
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <h1>Garantimos o melhor material didático para o seu estabelecimento de ensino</h1>
        <p><a href="@Url.RouteUrl(HomeControllerRoute.GetSolutions)" class="btn btn-info btn-lg"><span class="network-name">Saber mais</span></a></p>
    </div>
</section>
