@{
    ViewBag.Title = "Soluções";
    ViewBag.Description = "";
}

<header class="page-header">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</header>


<p>@ViewBag.Description</p>

<section class="section-intro height1 box2">
    <div class="content-section-a container_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Laboratórios de informática</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../Content/img/no_image-512.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section class="section-intro height1 box2">
    <div class="content-section-b container_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Laboratórios escolares para ensino geral, médio e superior</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../Content/img/no_image-512.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
<hr />
<section class="section-intro height1 box2">
    <div class="content-section-a container_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Mapas geográficos, geopolíticos e físicos</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../Content/img/no_image-512.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
<hr />
<section class="section-intro height1 box2">
    <div class="content-section-b container_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Quadros murais de anatomia humana, zoologia, botânica, etc</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../Content/img/no_image-512.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
<hr />
<section class="section-intro height1 box2">
    <div class="content-section-a container_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Material e equipamentos para cursos de anatomia</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../Content/img/no_image-512.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
<hr />
<section class="section-intro height1 box2">
    <div class="content-section-b container_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Reagentes químicos para laboratórios de química</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../Content/img/no_image-512.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
<hr />
<section class="section-intro height1 box2">
    <div class="content-section-a container_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Conjuntos didácticos diversos</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../Content/img/no_image-512.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>